* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E9E4E3;
}

.box {
    width: 60%;
    background-color: #fff;
    border-radius: 30px;
    margin: 100px auto;
    padding: 20px 0;
}

.box .top{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 0 20px 20px;
    box-sizing: border-box;
}

.box .top span:nth-of-type(1){
    font-size: 22px;
    font-weight: 600;
}

.box .top a {
    text-decoration: none;
    color: black;
    float: right;
}

.head{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
}

.head div:nth-child(1){
    width: 18%;
    display: flex;
    justify-content: space-between;
}

.head div:nth-child(2){
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.item{
    padding: 0 10px;
    margin-top: 30px;
}

.item div:nth-child(1) {
    display: flex;
    align-items: center;
}

.item div .icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background-image: url("https://gw.alicdn.com/tfs/TB1boCXfmCWBuNjy0FhXXb6EVXa-800-600.png");
    background-position: -20px -105px;
    display: inline-block;
}

.item div .icon-gif {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-image: url("https://gtd.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif");
    background-position: -80px 0;
    display: inline-block;
}

.item > div:nth-child(2) {
    width: 98%;
    height: 110px;
    margin: 10px auto 0;
    border-radius: 10px;
    background-color: #E9E4E3;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.item > div > div {
    display: flex;
    width: 350px;
    font-size: 12px;
    /* justify-content: space-around; */
}

.item > div > div > img:nth-child(1){
    width: 80px;
    height: 87px;
    margin-right: 10px;
}

.item > div > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item > div > span {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
}

.item > div > span > span:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;

}

.item > div > span > span:nth-of-type(2) {
    overflow: hidden;
    display: inline-block;
    display: flex;
    align-items: center;
}

.item > div > span > span:nth-of-type(2) input{
    width: 10px;
    padding: 5px 15px;
    float: left;
}
.item > div > span > span:nth-of-type(2) button{
    padding: 5px 5px;
    float: left;
}

.item > div > span > span:nth-of-type(3) {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #f50;
}

.item > div > span > a{
    display: inline-block;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.bottom {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

.bottom .right,.bottom .left{
    display: flex;
    align-items: center;
}

.bottom .left a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

.bottom .right span:nth-of-type(1){
    margin-right: 30px;
}

.bottom span b {
    font-size: 20px;
    color: #f50;
}

.mask {
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.mask .add-item {
    background-color: #fff;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.mask .add-item > div {
    margin-top: 50px;
    text-align: center;
}

.mask .add-item > div div:nth-of-type(4) {
    text-align: left;
    margin-left: 35px;
}

.mask .add-item > div div input[name=isc] {
    background-color: pink;
    width: 20px;
    height: 20px;
}

.mask .add-item div div {
    font-size: 22px;
}

.mask .add-item .text input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    padding-left: 15px;
}

.mask .add-item div button {
    padding: 10px 60px;
    font-size: 22px;
    margin-top: 50px;
    border-radius: 5px;
    border: none;
}

.mask .add-item div button:nth-of-type(1) {
    background-color: #f50;
    margin-right: 20px;
}